@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&family=Noto+Sans+KR:wght@400;500;700;800&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

fieldset {
  border: none;
}

table {
  border-collapse: collapse;
}

h1 {
  font-size: 45px;
  font-weight: bold;
  font-family: "Montserrat";
}

h2 {
  font-size: 20px;
}

p,
span {
  font-size: 14px;
}

.container {
  width: 80%;
  margin: 100px auto;
}
.container::after {
  content: "";
  display: block;
  clear: both;
}

@media screen and (max-width: 1300px) {
  .container {
    width: 100%;
    margin: 30px 0;
  }
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 16px;
  }
  p,
  span {
    font-size: 13px;
  }
}
a.shortcut-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 55px;
  background-color: #282828;
  border-radius: 50px;
  color: #fff;
  font-size: 13px;
  font-family: "Noto Sans KR", sans-serif;
  transition: 0.3s;
}
a.shortcut-btn:hover {
  background-color: #8567fd;
}
a.shortcut-btn i {
  margin-left: 6px;
  margin-top: 1.5px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 330px;
  height: 100vh;
  background-color: #8567fd;
  z-index: 3;
}
header #menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding-top: 150px;
  padding-bottom: 150px;
  position: relative;
}
header #menu .profile {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}
header #menu .profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #eee;
}
header #menu .nav-list {
  width: 60%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
header #menu .nav-list li {
  width: 100%;
  height: 100%;
  transition: 0.5s;
  border-radius: 50px;
}
header #menu .nav-list li:hover {
  background-color: #b19efd;
}
header #menu .nav-list li.active {
  background-color: #b19efd;
}
header #menu .nav-list li a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}
header #menu .call-btn {
  display: none;
  width: 40px;
  height: 40px;
  z-index: 4;
  position: absolute;
  right: 30px;
  top: 30px;
}
header #menu .call-btn span {
  width: 100%;
  height: 2px;
  background-color: #282828;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 0;
  text-indent: -99999px;
  opacity: 1;
  transform: translateX(0%);
  transition: 1s;
}
header #menu .call-btn::before, header #menu .call-btn::after {
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #282828;
  position: absolute;
  left: 0;
  transform: rotate(0deg);
}
header #menu .call-btn::before {
  top: 0;
  transition: top 0.5s 0s, transform 0.5s 0.5s;
}
header #menu .call-btn::after {
  bottom: 0;
  transition: bottom 0.5s 0s, transform 0.5s 0.5s;
}
header #menu .call-btn.active span {
  transform: translateX(100%);
  opacity: 0;
}
header #menu .call-btn.active::before {
  transform: rotate(-45deg);
  top: calc(50% - 1px);
}
header #menu .call-btn.active::after {
  transform: rotate(45deg);
  bottom: calc(50% - 1px);
}
header #menu .mob-list {
  width: 100%;
  background-color: #8567fd;
  display: none;
  flex-direction: column;
  align-items: center;
  margin-top: -100%;
  z-index: 2;
}

main {
  position: absolute;
  top: 0;
  left: 330px;
  width: calc(100% - 330px);
}
main section#intro {
  height: 100vh;
  position: relative;
  background-image: url(../image/intro_bg.jpg);
  background-position: 100px 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
main section#intro.on .container {
  opacity: 0;
}
main section#intro .container {
  width: 44%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 1;
  transition: 0.5s;
  position: absolute;
  top: 18%;
  left: 25%;
  /*position: fixed;
  left: 35%;*/
}
main section#intro .container h1 {
  position: relative;
  font-size: 60px;
  margin-bottom: 50px;
  color: #fff;
  transform: perspective(600px) rotateY(-10deg) skewY(2deg);
}
main section#intro .container h1 b {
  display: block;
  margin-top: 20px;
}
main section#intro .container p {
  transform: perspective(600px) rotateY(-15deg) skewY(4deg);
  color: #fff;
  position: relative;
  width: 100%;
  margin-bottom: 80px;
}
main section#intro .container p::after {
  display: block;
  position: absolute;
  top: 0;
  left: -15px;
  width: 5px;
  height: 100%;
  content: "";
  background-color: #d9d9d9;
}
main section#intro .container .btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
main section#intro .container .btn-wrap .shortcut-btn {
  width: 300px;
  transform: rotate(4.5deg);
}
main section#skills {
  padding: 100px 8vw;
}
main section#skills.on .container {
  opacity: 1;
  margin: 100px auto;
}
main section#skills .container {
  opacity: 0;
  transition: 0.4s;
  margin: 0 auto 100px;
}
main section#skills .container .skills-sec {
  margin-bottom: 50px;
}
main section#skills .container .skills-sec h2 {
  font-family: "Montserrat", sans-serif;
  position: relative;
  margin-bottom: 30px;
}
main section#skills .container .skills-sec h2::after {
  display: block;
  position: absolute;
  content: "";
  left: -8px;
  top: 0;
  width: 3px;
  height: 100%;
  background-color: #d9d9d9;
}
main section#skills .container .skills-sec ul {
  width: 100%;
  height: 100px;
  display: flex;
  transition: 0.2s 0.2s;
  align-items: center;
}
main section#skills .container .skills-sec ul.certificate-list {
  flex-direction: column;
  align-items: flex-start;
}
main section#skills .container .skills-sec ul.certificate-list li {
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
}
main section#skills .container .skills-sec ul.certificate-list li .certificate-logo {
  width: 40px;
  margin-right: 20px;
}
main section#skills .container .skills-sec ul.certificate-list li .certificate-date {
  display: inline-block;
  margin-right: 20px;
}
main section#skills .container .skills-sec ul li {
  margin-right: 8%;
  width: 55px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
main section#skills .container .skills-sec ul li .icon-frame {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
main section#skills .container .skills-sec ul li .icon-frame img,
main section#skills .container .skills-sec ul li .icon-frame strong {
  height: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main section#skills .container .skills-sec ul li .icon-frame strong {
  font-size: 22px;
  transform: translate(-50%, -60%);
}
main section#skills .container .skills-sec ul li span {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
main section#skills .container .skills-sec ul li span.js-text {
  font-size: 12.5px;
}
main section#skills .container .skills-sec.dev ul li:nth-of-type(1) .icon-frame {
  background: #f06933;
}
main section#skills .container .skills-sec.dev ul li:nth-of-type(2) .icon-frame {
  background: #529cf1;
}
main section#skills .container .skills-sec.dev ul li:nth-of-type(3) .icon-frame {
  background: #d579aa;
}
main section#skills .container .skills-sec.dev ul li:nth-of-type(4) .icon-frame {
  background: #80d6f8;
}
main section#skills .container .skills-sec.dev ul li:nth-of-type(5) .icon-frame {
  background: #f7ca4e;
}
main section#skills .container .skills-sec.design ul li:nth-of-type(1) .icon-frame {
  background: #f06933;
}
main section#skills .container .skills-sec.design ul li:nth-of-type(2) .icon-frame {
  background: #31a8ff;
}
main section#skills .container .skills-sec.design ul li:nth-of-type(3) .icon-frame {
  background: #ff9a00;
}
main section#experience {
  padding: 100px 8vw;
  background-color: #eee;
}
main section#experience.on .container {
  opacity: 1;
  margin: 100px auto;
}
main section#experience .container {
  opacity: 0;
  transition: 0.4s;
  margin: 0 auto 100px;
}
main section#experience .container .exp {
  margin-bottom: 50px;
}
main section#experience .container .exp h2 {
  font-family: "Montserrat", sans-serif;
  position: relative;
  margin-bottom: 30px;
}
main section#experience .container .exp h2::after {
  display: block;
  position: absolute;
  content: "";
  left: -8px;
  top: 0;
  width: 3px;
  height: 100%;
  background-color: #d9d9d9;
}
main section#experience .container .exp .exp-content {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  gap: 20px;
}
main section#experience .container .exp .exp-content .exp-logo {
  width: 80px;
}
main section#experience .container .exp .exp-content .exp-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main section#portfolio {
  padding: 100px 8vw;
}
main section#portfolio.on .container {
  opacity: 1;
  margin: 100px auto;
}
main section#portfolio .container {
  opacity: 0;
  transition: 0.4s;
  margin: 0 auto 100px;
}
main section#portfolio .container h2 {
  font-family: "Montserrat", sans-serif;
  position: relative;
  margin-bottom: 30px;
}
main section#portfolio .container h2::after {
  display: block;
  position: absolute;
  content: "";
  left: -8px;
  top: 0;
  width: 3px;
  height: 100%;
  background-color: #d9d9d9;
}
main section#portfolio .container .project {
  display: flex;
  margin-bottom: 100px;
}
main section#portfolio .container .project .thumb {
  width: 65%;
}
main section#portfolio .container .project .thumb.left {
  margin-right: 5%;
}
main section#portfolio .container .project .thumb.right {
  margin-left: 5%;
}
main section#portfolio .container .project .thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main section#portfolio .container .project .project-content {
  width: 30%;
  display: flex;
  flex-direction: column;
}
main section#portfolio .container .project .project-content p {
  margin-bottom: 10px;
}
main section#portfolio .container .project .project-content p:nth-of-type(3) {
  margin-bottom: 30px;
}
main section#portfolio .container .project .project-content .btn-wrap a {
  margin-bottom: 10px;
}
main section#portfolio .container .project .project-content .btn-wrap a .fa-square-arrow-up-right {
  margin-right: 5px;
}
main section#portfolio .container .project .project-content .btn-wrap a .fa-chevron-right {
  margin-left: 5px;
}
main section#portfolio .container .resume-explain {
  margin-bottom: 50px;
}
main section#contact {
  height: 100vh;
  padding: 100px 8vw;
  background-color: #eee;
}
main section#contact.on .container {
  opacity: 1;
  margin: 100px auto;
}
main section#contact .container {
  opacity: 0;
  transition: 0.4s;
  margin: 0 auto 100px;
  position: relative;
}
main section#contact .container .contact-img {
  float: left;
  width: 47%;
  margin-right: 10%;
}
main section#contact .container .contact-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main section#contact .container .contact-info {
  float: left;
  width: 35%;
  margin-top: 50px;
}
main section#contact .container .contact-info a {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  gap: 20px;
  color: #282828;
}

@media screen and (max-width: 1500px) {
  main section#intro {
    background-position: 150px 0;
  }
  main section#skills {
    padding: 80px 6vw;
  }
  main section#experience {
    padding: 80px 6vw;
  }
  main section#portfolio {
    padding: 80px 6vw;
  }
  main section#contact {
    padding: 80px 6vw;
  }
  a.shortcut-btn {
    height: 48px;
    font-size: 12px;
  }
}
@media screen and (max-width: 1200px) {
  header {
    width: 100%;
    height: 100px;
  }
  header #menu {
    padding-top: 0;
    padding-bottom: 0;
    flex-direction: row;
    justify-content: space-around;
  }
  header #menu .profile {
    width: 90px;
    height: 90px;
    margin-top: 5px;
  }
  header #menu .nav-list {
    flex-direction: row;
  }
  main {
    top: 80px;
    left: 0;
    width: 100%;
  }
  main section#intro {
    height: calc(100vh - 80px);
    background-position: center;
  }
}
@media screen and (max-width: 850px) {
  header #menu .profile {
    position: absolute;
    left: calc((100% - 90px) / 2);
  }
  header #menu .nav-list {
    display: none;
  }
  header #menu .call-btn {
    display: block;
  }
  header #menu .mob-list {
    display: flex;
  }
  main section#intro p {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
