@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&family=Noto+Sans+KR:wght@400;500;700;800&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

fieldset {
  border: none;
}

table {
  border-collapse: collapse;
}

h1 {
  font-size: 45px;
  font-weight: bold;
  font-family: "Montserrat";
}

h2 {
  font-size: 20px;
}

p,
span {
  font-size: 14px;
}

section {
  height: 100vh;
}

.container {
  width: 80%;
  margin: 100px auto;
}
.container::after {
  content: "";
  display: block;
  clear: both;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 330px;
  height: 100vh;
  background-color: #8567FD;
  z-index: 3;
}
header #menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding-top: 150px;
  padding-bottom: 150px;
}
header #menu .profile {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}
header #menu .profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #eee;
}
header #menu .nav-list {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
header #menu .nav-list li {
  width: 100%;
  height: 100%;
}
header #menu .nav-list li a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

main {
  position: absolute;
  top: 0;
  left: 330px;
  width: calc(100% - 330px);
}
main section#intro {
  position: relative;
}
main section#intro .container {
  width: 60%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main section#intro .container h1 {
  font-size: 60px;
  margin-bottom: 50px;
}
main section#intro .container h1 b {
  display: block;
  margin-top: 20px;
}
main section#intro .container p {
  position: relative;
  width: 100%;
  margin-left: 20px;
  margin-bottom: 100px;
}
main section#intro .container p::after {
  display: block;
  position: absolute;
  top: 0;
  left: -15px;
  width: 5px;
  height: 100%;
  content: "";
  background-color: #282828;
}
main section#intro .container .btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
main section#intro .container .btn-wrap .shortcut-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 55px;
  background-color: #282828;
  border-radius: 50px;
  color: #fff;
  font-size: 13px;
  font-family: "Noto Sans KR", sans-serif;
  transition: 0.3s;
  width: 300px;
}
main section#intro .container .btn-wrap .shortcut-btn:hover {
  background-color: #8567FD;
}
main section#intro .container .btn-wrap .shortcut-btn i {
  margin-left: 6px;
  margin-top: 1.5px;
}
main section#skills {
  background-color: #eee;
}
main section#skills .container .skills-sec {
  margin-bottom: 50px;
}
main section#skills .container .skills-sec h2 {
  font-family: "Montserrat", sans-serif;
  position: relative;
  margin-bottom: 30px;
}
main section#skills .container .skills-sec h2::after {
  display: block;
  position: absolute;
  content: "";
  left: -8px;
  top: 0;
  width: 3px;
  height: 100%;
  background-color: #282828;
}

/*# sourceMappingURL=style.css.map */
