* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
ul,
ol,
li {
	list-style: none;
}
a {
	text-decoration: none;
}

fieldset {
	border: none;
}

table {
	border-collapse: collapse;
}


h1 {
	font-size: 45px;
	font-weight: bold;
	font-family: 'Montserrat';
}
h2 {
	font-size: 20px;
}
p,
span {
	font-size: 14px;
}
section{
	height: 100vh;
}
.container {
	width: 80%;
	margin: 100px auto;
	//float 해제
	&::after {
		content: "";
		display: block;
		clear: both;
	}
}
