@charset "UTF-8";
@import "_reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&family=Noto+Sans+KR:wght@400;500;700;800&display=swap");

$main-color: #8567FD;
$light-color: #B19EFD;
$eng-font : 'Montserrat',sans-serif;
$kor-font : 'Noto Sans KR', sans-serif;

@mixin shortcut-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 55px;
	background-color: #282828;
	border-radius: 50px;
	color: #fff;
	font-size: 13px;
	font-family: $kor-font;
	transition: 0.3s;
	&:hover{
		background-color: $main-color;
	}
	i{
		margin-left: 6px;
		margin-top: 1.5px;
	}
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 330px;
	height: 100vh;
	background-color: $main-color;
	z-index: 3;
	#menu {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		height: 100%;
		padding-top: 150px;
		padding-bottom: 150px;
		.profile {
			width: 200px;
			height: 200px;
			border-radius: 50%;
			overflow: hidden;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				background-color: #eee;
			}
		}
		.nav-list {
			height: 40%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			gap: 20px;
			li {
				width: 100%;
				height: 100%;
				a {
					width: 100%;
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					font-family: $eng-font;
					color: #fff;
				}
			}
		}
	}
}

main {
	position: absolute;
	top: 0;
	left: 330px;
	width: calc(100% - 330px);
	section#intro {
		position: relative;
		background: url(../image/intro_bg.jpg) no-repeat center/cover fixed;
		.container {
			width: 60%;
			height: 100%;
			margin: auto;
			display: flex;
			flex-direction: column;
			justify-content: center;
			h1{
				font-size: 60px;
				margin-bottom: 50px;
				color: #fff;
				b{
					display: block;
					margin-top: 20px;
				}
			}
			p {
				color: #fff;
				position: relative;
				width: 100%;
				margin-left: 20px;
				margin-bottom: 100px;
				&::after {
					display: block;
					position: absolute;
					top: 0;
					left: -15px;
					width: 5px;
					height: 100%;
					content: "";
					background-color: #d9d9d9;
				}
			}
			.btn-wrap{
				display: flex;
				justify-content: center;
				align-items: center;
				.shortcut-btn{
					@include shortcut-btn();
					width: 300px;
				}
			}
		}
	}
	section#skills{
		padding: 100px 8vw;
		.container{
			.skills-sec{
				margin-bottom: 50px;
				h2{
					font-family: $eng-font;
					position: relative;
					margin-bottom: 30px;
					&::after{
						display: block;
						position: absolute;
						content: '';
						left: -8px;
						top:0;
						width: 3px;
						height: 100%;
						background-color: #ddd;
					}
				}
				ul{
					width: 100%;
					height: 100px;
					display: flex;
					align-items: center;
					&.certificate-list{
						flex-direction: column;
						align-items: flex-start;
						li{
							flex-direction: row;
							width: 100%;
							justify-content: flex-start;
							.certificate-logo{
								width: 40px;
								margin-right: 20px;
							}
							.certificate-date{
								display: inline-block;
								margin-right: 20px;
							}
						}
					}
					li{
						margin-right: 8%;
						width: 55px;
						height: 100%;
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: space-between;
						.icon-frame{
							position: relative;
							width: 50px;
							height: 50px;
							border-radius: 50%;
							i, strong{
								font-size: 25px;
								position: absolute;
								top: 50%;
								left: 50%;
								transform: translate(-50%, -50%);
							}
							strong{
								font-size: 20px;
								transform: translate(-50%, -51%);
							}
						}
						span{
							font-family: $eng-font;
							text-align: center;
							&.js-text{
								font-size: 12.5px;
							}
						}
					}
				}
				&.dev ul li{
					&:nth-of-type(1) .icon-frame{
						background: #F06933;
					}
					&:nth-of-type(2) .icon-frame{
						background: #529CF1;
					}
					&:nth-of-type(3) .icon-frame{
						background: #D579AA;
					}
					&:nth-of-type(4) .icon-frame{
						background: #80D6F8;
					}
					&:nth-of-type(5) .icon-frame{
						background: #F7CA4E;
					}
				}
				&.design ul li{
					&:nth-of-type(1) .icon-frame{
						background: #F06933;
					}
					&:nth-of-type(2) .icon-frame{
						background: #31A8FF;
					}
					&:nth-of-type(3) .icon-frame{
						background: #FF9A00;
					}
				}
			}
		}
	}
	section#experience{
		padding: 100px 8vw;
		background-color: #eee;
	}
	section#portfolio{
		padding: 100px 8vw;
	}
	section#contact{
		padding: 100px 8vw;
	}
}
