@charset "UTF-8";
@import "_reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&family=Noto+Sans+KR:wght@400;500;700;800&display=swap");

$main-color: #8567fd;
$light-color: #b19efd;
$eng-font: "Montserrat", sans-serif;
$kor-font: "Noto Sans KR", sans-serif;

@mixin shortcut-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 55px;
	background-color: #282828;
	border-radius: 50px;
	color: #fff;
	font-size: 13px;
	font-family: $kor-font;
	transition: 0.3s;
	&:hover {
		background-color: $main-color;
	}
	i {
		margin-left: 6px;
		margin-top: 1.5px;
	}
}

a.shortcut-btn {
	@include shortcut-btn();
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 330px;
	height: 100vh;
	background-color: $main-color;
	z-index: 3;
	#menu {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		height: 100%;
		padding-top: 150px;
		padding-bottom: 150px;
		position: relative;
		.profile {
			width: 200px;
			height: 200px;
			border-radius: 50%;
			overflow: hidden;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				background-color: #eee;
			}
		}
		.nav-list {
			width: 60%;
			height: 40%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			gap: 20px;
			li {
				width: 100%;
				height: 100%;
				transition: 0.5s;
				border-radius: 50px;
				&:hover {
					background-color: $light-color;
				}
				&.active {
					background-color: $light-color;
				}
				a {
					width: 100%;
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					font-family: $eng-font;
					color: #fff;
				}
			}
		}
		.call-btn{
			display: none;
			width: 40px;
			height: 40px;
			z-index: 4;
			position: absolute;
			right: 30px;
			top: 30px;
			span{
				width: 100%;
				height: 2px;
				background-color: #282828;
				position: absolute;
				top:50%;
				margin-top: -1px;
				left:0;
				text-indent: -99999px;
				opacity: 1;
				transform: translateX(0%);
				transition: 1s;
			}
			&::before, &::after{
				display: block;
				content: '';
				width: 100%;
				height: 2px;
				background-color: #282828;
				position: absolute;
				left:0;
				transform: rotate(0deg);
			}
			&::before{
				top:0;
				transition: top 0.5s 0s, transform 0.5s 0.5s;
			}
			&::after{
				bottom: 0;
				transition: bottom 0.5s 0s, transform 0.5s 0.5s;
			}
			&.active{
				span{
					transform: translateX(100%);
					opacity: 0;
				}
				&::before{
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&::after{
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
		.mob-list{
			width: 100%;
			background-color: $main-color;
			display: none;
			flex-direction: column;
			align-items: center;
			margin-top: -100%;
			z-index: 2;

		}
	}
}

main {
	position: absolute;
	top: 0;
	left: 330px;
	width: calc(100% - 330px);
	section#intro {
		height: 100vh;
		position: relative;
		background-image: url(../image/intro_bg.jpg);
		background-position: 100px 50%;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		&.on {
			.container {
				opacity: 0;
			}
		}
		.container {
			width: 44%;
			margin: auto;
			display: flex;
			flex-direction: column;
			justify-content: center;
			opacity: 1;
			transition: 0.5s;
			position: absolute;
			top: 18%;
			left: 25%;
			/*position: fixed;
			left: 35%;*/
			h1 {
				position: relative;
				font-size: 60px;
				margin-bottom: 50px;
				color: #fff;
				transform: perspective(600px) rotateY(-10deg)
					skewY(2deg);
				b {
					display: block;
					margin-top: 20px;
				}
			}
			p {
				transform: perspective(600px) rotateY(-15deg)
					skewY(4deg);
				color: #fff;
				position: relative;
				width: 100%;
				margin-bottom: 80px;
				&::after {
					display: block;
					position: absolute;
					top: 0;
					left: -15px;
					width: 5px;
					height: 100%;
					content: "";
					background-color: #d9d9d9;
				}
			}
			.btn-wrap {
				display: flex;
				justify-content: center;
				align-items: center;
				.shortcut-btn {
					width: 300px;
					transform: rotate(4.5deg);
				}
			}
		}
	}
	section#skills {
		padding: 100px 8vw;
		&.on {
			.container {
				opacity: 1;
				margin: 100px auto;
			}
		}
		.container {
			opacity: 0;
			transition: 0.4s;
			margin: 0 auto 100px;
			.skills-sec {
				margin-bottom: 50px;
				h2 {
					font-family: $eng-font;
					position: relative;
					margin-bottom: 30px;
					&::after {
						display: block;
						position: absolute;
						content: "";
						left: -8px;
						top: 0;
						width: 3px;
						height: 100%;
						background-color: #d9d9d9;
					}
				}
				ul {
					width: 100%;
					height: 100px;
					display: flex;
					transition: 0.2s 0.2s;
					align-items: center;
					&.certificate-list {
						flex-direction: column;
						align-items: flex-start;
						li {
							flex-direction: row;
							width: 100%;
							justify-content: flex-start;
							.certificate-logo {
								width: 40px;
								margin-right: 20px;
							}
							.certificate-date {
								display: inline-block;
								margin-right: 20px;
							}
						}
					}
					li {
						margin-right: 8%;
						width: 55px;
						height: 100%;
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: space-between;
						.icon-frame {
							position: relative;
							width: 50px;
							height: 50px;
							border-radius: 50%;
							img,
							strong {
								height: 25px;
								position: absolute;
								top: 50%;
								left: 50%;
								transform: translate(-50%, -50%);
							}
							strong {
								font-size: 22px;
								transform: translate(-50%, -60%);
							}
						}
						span {
							font-family: $eng-font;
							text-align: center;
							&.js-text {
								font-size: 12.5px;
							}
						}
					}
				}
				&.dev ul li {
					&:nth-of-type(1) .icon-frame {
						background: #f06933;
					}
					&:nth-of-type(2) .icon-frame {
						background: #529cf1;
					}
					&:nth-of-type(3) .icon-frame {
						background: #d579aa;
					}
					&:nth-of-type(4) .icon-frame {
						background: #80d6f8;
					}
					&:nth-of-type(5) .icon-frame {
						background: #f7ca4e;
					}
				}
				&.design ul li {
					&:nth-of-type(1) .icon-frame {
						background: #f06933;
					}
					&:nth-of-type(2) .icon-frame {
						background: #31a8ff;
					}
					&:nth-of-type(3) .icon-frame {
						background: #ff9a00;
					}
				}
			}
		}
	}
	section#experience {
		padding: 100px 8vw;
		background-color: #eee;
		&.on {
			.container {
				opacity: 1;
				margin: 100px auto;
			}
		}
		.container {
			opacity: 0;
			transition: 0.4s;
			margin: 0 auto 100px;
			.exp {
				margin-bottom: 50px;
				h2 {
					font-family: $eng-font;
					position: relative;
					margin-bottom: 30px;
					&::after {
						display: block;
						position: absolute;
						content: "";
						left: -8px;
						top: 0;
						width: 3px;
						height: 100%;
						background-color: #d9d9d9;
					}
				}
				.exp-content {
					display: flex;
					align-items: center;
					margin-bottom: 30px;
					gap: 20px;
					.exp-logo {
						width: 80px;
						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
					}
				}
			}
		}
	}
	section#portfolio {
		padding: 100px 8vw;
		&.on {
			.container {
				opacity: 1;
				margin: 100px auto;
			}
		}
		.container {
			opacity: 0;
			transition: 0.4s;
			margin: 0 auto 100px;
			h2 {
				font-family: $eng-font;
				position: relative;
				margin-bottom: 30px;
				&::after {
					display: block;
					position: absolute;
					content: "";
					left: -8px;
					top: 0;
					width: 3px;
					height: 100%;
					background-color: #d9d9d9;
				}
			}
			.project {
				display: flex;
				margin-bottom: 100px;
				.thumb {
					width: 65%;
					&.left {
						margin-right: 5%;
					}
					&.right {
						margin-left: 5%;
					}
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
				.project-content {
					width: 30%;
					display: flex;
					flex-direction: column;
					p {
						margin-bottom: 10px;
						&:nth-of-type(3) {
							margin-bottom: 30px;
						}
					}
					.btn-wrap {
						a {
							margin-bottom: 10px;
							.fa-square-arrow-up-right {
								margin-right: 5px;
							}
							.fa-chevron-right {
								margin-left: 5px;
							}
						}
					}
				}
			}
			.resume-explain {
				margin-bottom: 50px;
			}
		}
	}
	section#contact {
		height: 100vh;
		padding: 100px 8vw;
		background-color: #eee;
		&.on {
			.container {
				opacity: 1;
				margin: 100px auto;
			}
		}
		.container {
			opacity: 0;
			transition: 0.4s;
			margin: 0 auto 100px;
			position: relative;
			.contact-img {
				float: left;
				width: 47%;
				margin-right: 10%;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
			.contact-info {
				float: left;
				width: 35%;
				margin-top: 50px;
				a {
					display: flex;
					align-items: center;
					margin-bottom: 50px;
					gap: 20px;
					color: #282828;
				}
			}
		}
	}
}

@media screen and (max-width: 1500px) {
	main {
		section#intro {
			background-position: 150px 0;
		}
		section#skills {
			padding: 80px 6vw;
		}
		section#experience {
			padding: 80px 6vw;
		}
		section#portfolio {
			padding: 80px 6vw;
		}
		section#contact {
			padding: 80px 6vw;
		}
	}
	a.shortcut-btn {
		height: 48px;
		font-size: 12px;
	}
}

@media screen and (max-width: 1200px) {
	header {
		width: 100%;
		height: 100px;
		#menu {
			padding-top: 0;
			padding-bottom: 0;
			flex-direction: row;
			justify-content: space-around;
			.profile {
				width: 90px;
				height: 90px;
				margin-top: 5px;
			}
			.nav-list {
				flex-direction: row;
			}
		}
	}
	main {
		top: 80px;
		left: 0;
		width: 100%;
		section#intro {
			height: calc(100vh - 80px);
			background-position: center;
		}
	}
}
@media screen and (max-width: 850px){
	header{
		#menu{
			.profile{
				position: absolute;
				left: calc((100% - 90px) / 2);
			}
			.nav-list{
				display: none;
			}
			.call-btn{
				display: block;
			}
			.mob-list{
				display: flex;
			}
		}
	}
	main{
		section#intro{
			p{
				display: none;
			}
		}
	}
}